In [1]:
import re
import matplotlib
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as ss
import matplotlib.pyplot as plt
from matplotlib import style, colors
from matplotlib import gridspec
import random
import string
import math

# matplotlib.style.use('ggplot')
%matplotlib inline
matplotlib.rcParams['figure.figsize'] = (12, 6)
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

this file has the viral gene coordinates:

/projects/trans_scratch/software/circos/data/labels/hpv18.labels.txt

In [21]:
f = '/projects/trans_scratch/validations/workspace/szong/Cervical/integration/Cervical_transcriptome_integration_summary_20190625.txt'
df = pd.read_csv(f, sep='\t')
df.head(2)

,library,contig(s),contig-breakpoint(s),human-breakpoint,human-strand,viral-breakpoint,viral-strand,contig-length(s),human-length(s),overlap-length(s),viral-length(s),virus,human-gene(s),flanking-reads,spanning-reads,total-reads
0,A37700,"minus_k60_j_369025,plus_k64_f_28387","257,63",3_189526059,-,3631,-,"389,123","255,61","2,2","132,60",883_gi|310698439|ref|NC_001526.2|_Human_papill...,TP63,36,70,106
1,A37700,"minus_k64_j_268601,plus_k66_j_196123","255,255",3_189526315,+,5695,+,"1970,1970","254,254","1,1","1707,1707",32831_gi|196170262|gb|FJ006723.1|_Human_papill...,TP63,22,54,76

In [22]:
df['hpv'] = df['virus'].apply(lambda x: x.split('|')[4].split('_')[4].replace(',', ''))

In [23]:
df.head(2)

,library,contig(s),contig-breakpoint(s),human-breakpoint,human-strand,viral-breakpoint,viral-strand,contig-length(s),human-length(s),overlap-length(s),viral-length(s),virus,human-gene(s),flanking-reads,spanning-reads,total-reads,hpv
0,A37700,"minus_k60_j_369025,plus_k64_f_28387","257,63",3_189526059,-,3631,-,"389,123","255,61","2,2","132,60",883_gi|310698439|ref|NC_001526.2|_Human_papill...,TP63,36,70,106,16
1,A37700,"minus_k64_j_268601,plus_k66_j_196123","255,255",3_189526315,+,5695,+,"1970,1970","254,254","1,1","1707,1707",32831_gi|196170262|gb|FJ006723.1|_Human_papill...,TP63,22,54,76,16

In [24]:
df.hpv.head(2)

0    16
1    16
Name: hpv, dtype: object

In [5]:
df = df[df.hpv.str.contains('16')]

In [25]:
def unique_items(x):
    return ';'.join(x.unique())

In [26]:
df1 = df.groupby('library')[['human-breakpoint', 'viral-breakpoint', 'hpv']].agg({'viral-breakpoint':['min', 'max'], 'hpv':[','.join, unique_items], 'human-breakpoint':','.join}).reset_index()

In [27]:
df1.head(2)

  library viral-breakpoint                            hpv               \
                       min   max                     join unique_items
0  A37700              408  5695  16,16,16,16,16,16,16,16           16
1  A37701              879  1723           52,52,52,52,52           52

                                    human-breakpoint
                                                join
0  3_189526059,3_189526315,3_189542597,3_18954296...
1  22_43168251,22_43161526,22_43165135,22_4316152...

In [28]:
# df1['unique_items']
df2 = df1.droplevel(0, axis=1)
df2.head(2)

,,min,max,join,unique_items,join
0,A37700,408,5695,"16,16,16,16,16,16,16,16",16,"3_189526059,3_189526315,3_189542597,3_18954296..."
1,A37701,879,1723,"52,52,52,52,52",52,"22_43168251,22_43161526,22_43165135,22_4316152..."

In [29]:
df2.shape

(105, 6)

In [30]:
of = '/projects/trans_scratch/validations/workspace/szong/Cervical/integration/Cervical_transcriptome_integration_summary_hpv_integrated_sequence_20190625.txt'
df1.to_csv(of, sep='\t')

In [13]:
df2

,,min,max,join,unique_items
0,A37700,408,5695,"16,16,16,16,16,16,16,16",16
1,A37702,880,3829,"16,16,16",16
2,A37707,880,1367,"16,16",16
3,A37708,226,3316,"16,16,16,16,16,16,16,16,16,16",16
4,A37717,226,4325,"16,16,16,16,16,16,16,16,16,16,16,16,16,16",16
5,A37718,834,7394,"16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,1...",16
6,A37723,226,7828,"16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,1...",16
7,A37725,226,3419,"16,16,16,16,16,16,16,16,16",16
8,A37729,226,4998,"16,16,16,16,16,16,16,16,16,16,16,16",16
9,A37736,2077,5178,"16,16",16
10,A50342,880,1533,"16,16,16,16",16
11,A50346,407,6357,"16,16",16
12,A52345,227,3113,"16,16,16,16,16,16",16
13,A52351,228,7286,"16,16,16,16,16,16,16,16,16,16,16,16,16,16,16",16
14,A52359,226,881,"16,16,16,16,16,16,16,16,16,16,16,16,16,16",16
15,A52360,226,7148,"16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,1...",16
16,A52364,880,3426,"16,16,16,16,16,16",16
17,A52365,226,2731,"16,16,16,16,16,16",16
18,A52366,682,682,16,16
19,A52367,880,2687,"16,16,16,16,16,16",16
20,A54468,3770,3834,"16,16",16
21,A54477,881,881,16,16
22,A54479,880,3525,"16,16,16,16,16,16,16,16",16
23,A57112,520,4768,"16,16,16,16,16,16,16,16,16,16,16,16",16
24,A57115,227,3452,"16,16,16,16,16,16",16
25,A57122,227,3105,"16,16,16,16",16
26,A57123,226,4091,"16,16,16,16,16,16,16,16,16,16,16,16,16,16,16",16
27,A68255,3505,3665,"16,16",16
28,A68262,2675,6230,"16,16,16,16",16
29,A68267,226,3377,"16,16,16,16,16,16",16
30,A68268,880,7111,"16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,1...",16
31,A71874,4574,4574,16,16
32,A78464,881,881,16,16
33,A78477,734,3421,"16,16,16,16,16,16,16,16,16,16",16
34,A78488,880,3099,"16,16,16,16,16",16
35,A78492,226,7100,"16,16,16,16,16,16,16,16,16,16,16,16,16,16,16,1...",16